<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="about">
    <ion-router-outlet name="about"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="addEvent">
    <ion-router-outlet name="addEvent"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="app/tabs/(home:home)">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="app/tabs/(about:about)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addEvent" href="/tabs/(addEvent:addEvent)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>Add Events</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
