<ion-header>
  <ion-toolbar>
    <ion-title>Papet'Genda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

 <ion-title>Ajouter un event</ion-title>
  <ion-item>
    <ion-label color="primary">Titre de l'event</ion-label>
    <ion-input placeholder="add title"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="primary">Titre de l'event</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="primary">Titre de l'event</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="primary">Titre de l'event</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="primary">Titre de l'event</ion-label>
    <ion-input placeholder="Text Input"></ion-input>
  </ion-item>
  <br>
  <ion-button>Ajouter</ion-button>

</ion-content>
